* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #222;
    font-family: sans-serif;
}

.container {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#back {
    border: none;
    background: none;
    font-size: 28px;
    cursor: pointer;
}

.friend-list {
    width: 85%;
    margin: 0 auto;
}

.friend-card {
    background: #F6F7FB;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    margin-bottom: 14px;
}

.friend-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile {
    font-size: 28px;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.id {
    font-size: 14px;
    color: #555;
}

.remove,
.add {
    border: none;
    background: none;
    font-size: 34px;
    cursor: pointer;
}

hr {
    margin: 18px 0;
    border: none;
    border-top: 1px solid #bdbdbd;
}

.profile {
    font-size: 30px;
    color: #000;
}